.pricing {
  text-align: center;
  display: block;
  font-size: 0;
  margin: 50px auto;
}

.pricing__col {
  display: inline-block;
  vertical-align: middle;
  &--center {
    margin: 0 15px;
  }
}

.price__body {
  background-color: #ffffff;
}

.button {
  font-size: 18px;
}
